%aside グループを作成しました
%header.header
  .header__left
    %h1 user_name
    .settings
      = link_to "#" do
        %i.fas.fa-edit
      = link_to "#" do
        %i.fas.fa-cog
  .header__right
    .header__right__group
      %h1 Group_name
      %p 2019/07/26(Fri) 12:00:00
    .edit-button
      = link_to "#" do
        Edit
.contents
  .contents__left
    = render partial: 'group'
  .contents__right
    .group-messages
      = render partial: 'group_messages'
    .text-form
      = form_for(@message, url:"/") do |f|
        %label.label
          = fa_icon"image"
          = f.file_field :image, class: "image"
        = f.text_field :text, size: 100, :placeholder => "Type a message" 
        = f.submit "Send"