= render "/layouts/header"
.contents
  .contents__left
    = render partial: '/groups/group_list'
  .contents__right
    .group-messages
      = render partial: '/messages/group_messages'
    .text-form
      = form_for [@group, @message],html: {id: "text_form"} do |f|
        %label.label
          = fa_icon"image"
          = f.file_field :image, class: "image text-form__image"
        = f.text_field :text, size: 100, placeholder: "Type a message" , class: "text-form__text"
        = f.submit "Send", class: "text-form__submit__button"