%header.header
  .header__left
    %h1
      = current_user.name
    .settings
      = link_to new_group_path do
        %i.fas.fa-edit
      = link_to "/users/#{current_user.id}/edit" do
        %i.fas.fa-cog
  .header__right
    = render ("/groups/header_group")