%header.header
  .header__left
    %h1
      = current_user.name
    .settings
      = link_to new_group_path do
        %i.fas.fa-edit
      = link_to "/users/#{current_user.id}/edit" do
        %i.fas.fa-cog
  .header__right
    .header__right__group
      %h1 Group_name
      %p 2019/07/26(Fri) 12:00:00
    .edit-button
      = link_to "#" do
        Edit